.all{
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: center;
}
.card{
   
    padding: 23px 12px;
    margin: 23px 30px;
    background-color:rgba(128, 128, 128, 0.479);
    box-shadow: 33px 19px 52px black;
    height: 388px;
    width: 330px;
    

    
}
.card img{
  height: 283px;
  width: 300px;
  padding-left: 3px;
}


#card-1{
 
    padding: 20px;
}
.contin{

  margin: auto;
  width: 33%;
  display: block;
  background-color: aqua;
  

}



